@import "../../variables";

.checkbox-wrapper {
  align-items: center;
  color: $c-grey;
  display: flex;
  gap: 10px;
  margin-top: 20px;

  input {
    cursor: pointer;
    width: 15px;
  }

  button {
    background-color: inherit;
    border: none;
    color: $c-grey;
    cursor: pointer;
    font-size: 13px;
    outline: none;
  }

  a {
    color: $c-orange-text;
    margin-left: 50%;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
