$c-shadow: #0000003f;
$c-black: #000f;
$c-shadow-text: #7d8798;
$c-shadow-background: #d7d7d7;
$c-light-shadow: #f1f1f1;
$c-white: #fff;
$c-green: #46be59;
$c-white-grey: #cccf;
$c-white-grey-hover: #e4e4e4ff;
$c-white-grey-text: #7f7f7f;
$c-bg-main: #f4f2ea;
$c-bg-second: #f3dfd2;
$c-bg-profile: #f2f2f2;
$c-dark-green: #4b7902ff;
$c-light-green: #64a003ff;
$c-orange: #bf5813ff;
$c-orange-logo: #bf5813ff;
$c-light-orange: #facd91ff;
$c-light-orange-hover: #f59a23ff;
$c-search-orange: #c36626;
$c-grey: #aaa;
$c-light-grey: #aaaf;
$c-grey-border: #d7d7d7ff;
$c-grey-text: #666f;
$c-orange-text: #b8741aff;
$c-red: #ff2424;
$c-blue: #00f;
$c-light-blue: #169bd5;
$f-w-normal: 400;
$f-w-bold: 700;
$c-bg-dashboard: #f2f2f2;
