@import "../../variables";

button {
  align-items: center;
  background-color: $c-white;
  border: none;
  display: flex;
  justify-content: space-between;
  outline: none;
  padding: 5px 10px;
  width: 100%;

  &:hover {
    background-color: $c-light-shadow;
  }
}
